{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="masthead" style=" background-image: url('../static/images/flower-tree.jpg');">
  <main class="color-overlay d-flex justify-content-center align-items-center p-5 body-content">
    <h1>WELCOME</h1>
    <p class="lead">This is my blog. Below you can find dynamically generated blog content.</p>
  </main>
</div>
<div class="p-5 m-2 row">
  <div class="col-2"></div>

  
      <div class="col-8">
        {% for post in posts %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post.poster}}</strong>
            <h3 class="mb-0">{{ post.topic}}</h3>
            <div class="mb-1 text-body-secondary">{{ post.post_date}}</div>
            <p class="card-text mb-auto">{{post.user_post}}</p>
          </div>
        </div>
      
  {% endfor %}   
</div> 
      
    


  <div class="col-2"></div>
  
</div>





{% endblock %}