{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="masthead" style=" background-image: url('../static/images/flower-tree.jpg');">
  <main class="color-overlay d-flex justify-content-center align-items-center p-5 body-content">
    <h1>WELCOME</h1>
    <p class="lead">This is my blog. Below you can find dynamically generated blog content.</p>
  </main>
</div>
<div class="p-5 m-2 row">
  <div class="col-3"></div>

  <div class="col-6">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
  </div>
  <div class="offcanvas-body">
    Content for the offcanvas goes here. You can place just about any Bootstrap component or custom elements here.
  </div>
</div>

  <div class="col-3"></div>
  
</div>





{% endblock %}