{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="masthead" style=" background-image: url('../static/images/tree.jpg');">
  <main class="color-overlay d-flex justify-content-center align-items-center">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  </main>
</div>




{% endblock %}