{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="masthead" style=" background-image: url('../static/images/tree.jpg');">
    <main class="color-overlay d-flex justify-content-center align-items-center p-5 body-content">
       
      <div class="col-5">
        <div class="card">
          <div class="card-body">
            <h2>Login</h2>
            <form action="/login" method="post">
                {‌{ form.csrf_token }}
              <!-- <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" name="inputPassword">
              </div> -->
              {{ form.username.label }} {{ form.username(size=30) }}
              {{ form.password.label }} {{ form.password(size=20) }}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>
</div>
{% endblock %}