{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="masthead" style=" background-image: url('../static/images/tree.jpg');">
    <main class="color-overlay d-flex justify-content-center align-items-center p-5 body-content">
       
      <div class="col-5">
        <div class="card">
          <div class="card-body mx-3">
            <h2>Login</h2>
            <form action="{{url_for('login')}}" method="post" novalidate>
              <div class="py-3">
              {{ form.csrf_token }}
              {{ form.username.label }}<br/> {{ form.username(size=40) }}
              {% if form.username.errors %}
                <div class="alert alert-warning py-1 my-1">
                  {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}</div>
              {% endif %}
              <br/>

              {{ form.password.label }}<br/> {{ form.password(size=40) }}
              {% if form.password.errors %}
                <div class="alert alert-warning py-1 my-1">
                  {% for error in form.password.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}</div>
              {% endif %}
              </div>
              <br/>
              <button type="submit" class="btn btn-primary">{{form.submit}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</main>
</div>
{% endblock %}