{% extends "layout.html" %}
{% block title %}Post{% endblock %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="masthead" style=" background-image: url('../static/images/tree.jpg');">
    <main class="color-overlay d-flex justify-content-center align-items-center p-5 body-content">
       
      <div class="col-5">
        <div class="card">
          <div class="card-body mx-3">
            <h2>Login</h2>
            {{ render_form(form) }}
          </div>
        </div>
      </div>
    </div>
</main>
</div>
{% endblock %}
