#footer {
    position: relative;
    bottom:0;
    width:90%;
    text-align: center;
}


.transparent-navbar {
    background-color: rgba(0, 0, 0, 0) !important; /* Make navbar background transparent */
    backdrop-filter: blur(10px); /* Optional: Apply blur effect to the background content */
}

/* Ensure the content below the navbar is not hidden behind it */
.body-content {
    padding-top: 70px; /* Adjust this value based on the navbar's height */
}

.masthead {
    background-size: cover ;
    min-height: 100vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0, 0, .2);
    
}

h1 {
    font-size: 4rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .4);
    display: flex; /* Ensure flex display */
    flex-direction: column; /* Stack flex items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}


@media (max-width: 760px) {
    .masthead {
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important; /* Change text color to black */
}

/* For the active state of the link */
.navbar-dark .navbar-nav .nav-link.active {
    color: black !important; /* Ensure active state also has black text */
}